body {
    background-image: url({ % static 'images/back.jpg' % });
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-inner .carousel-item img {
    height: 500px; /* Adjust the height as needed */
}
.paragraph-container {
    float: bottom; /* Align to the right */
    width: calc(100% - 350px); /* Adjust the width based on your layout */
    padding-left: 20px; /* Add spacing between the code and paragraph */
}

.contact-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.contact-bar p {
    margin: 0;
}
.change {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
    color: #333;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
