{% extends 'base.html'%}
{% load static %}


{% block contents %}

<div class="col-4 offset-4">
    <h2>Change Password</h2>
    <form action="#" method="post" novalidate="shadow p-5">
        {% csrf_token %}
    <input type="password" class="form-control" name="old_password" placeholder="Old_password" required><br>
    <input type="password" class="form-control" name="new_password" placeholder="New_password" required><br>
    <input type="password" class="form-control" name="Confrim_password" placeholder="Confirm_password" required><br>
    <button type="submit" value="submit" class="btn btn-outline-secondary">Submit</button>
    <div class="text-center text-primary fw-bold">
        
 {% endblock  %}
