{% extends 'base.html'%}
{% load static %}


{% block contents %}
<div class="container">
    <h2 class="text-center">Printing Designs</h2>
    <br><br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'images/reflectors.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                        <p class="milkpro"><strong>Reflectors</strong></p>
                        <button class="btn btn-outline-success">Add to Cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                        <p style="float: right;">@ Ksh 300</p>
                    </div>
                </a>
            </div>
        </div>
        
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'images/caps.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                        <p class="milkpro"><strong>Caps</strong></p>
                        <button class="btn btn-outline-success">Add to Cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                        <p style="float: right;">@ Ksh 500</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'images/corporate.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                        <p class="milkpro"><strong>T-shirts</strong></p>
                        <button class="btn btn-outline-success">Add to Cart</button>
                        <button class="btn btn-outline-info">View</button>
                        <p style="float: right;">@ Ksh 1500</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="#">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/umbrella.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                            <p class="milkpro"><strong>Umbrellas</strong></p>
                            <button class="btn btn-outline-success">Add to Cart</button>
                            <button class="btn btn-outline-secondary">View</button>
                            <p style="float: right;">@ Ksh 1800</p>
                        </div>
                    </a>
                </div>
            </div>
            
                <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="#">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/bags.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                            <p class="milkpro"><strong>Carrier Bags</strong></p>
                            <button class="btn btn-outline-success">Add to Cart</button>
                            <button class="btn btn-outline-secondary">View</button>
                            <p style="float: right;">@ Ksh 200</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="#">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/diaries.jpg'%} " width="300" height="300" class="img-responsive" alt="">
                            <p class="milkpro"><strong>Diaries</strong></p>
                            <button class="btn btn-outline-success">Add to Cart</button>
                            <button class="btn btn-outline-info">View</button>
                            <p style="float: right;">@ Ksh 2000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </div>
    <br><br>
    
    
    
        
 {% endblock  %}